.form input {
  font-family: "sans-serif", sans-serif;
  outline: 7;
  background:  #c6c2c2;
  width: 170%;
  border: 1;
  margin: 0 0 20px;
  padding: 11px;
  box-sizing: content-box;
  font-size: 13px;
  
}
.login-page {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
}
.button {
  background-color: 		#0000FF; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div {
  height: 450px;
  width: 40%;
  margin: auto;
}
